<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BlackTournament.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup><userSettings>
        <BlackTournament.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>KillAz</value>
            </setting>
            <setting name="MusikVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SfxVolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ManagementServerAdress" serializeAs="String">
                <value>localhost</value>
            </setting>
        </BlackTournament.Properties.Settings>
    </userSettings>
</configuration>
