<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BlackTournament.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <BlackTournament.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="MusikVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SfxVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ManagementServerAdress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PlayerColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ResolutionX" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ResolutionY" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="AntiAliasing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FpsLimit" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Borderless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>False</value>
            </setting>
        </BlackTournament.Properties.Settings>
    </userSettings>
</configuration>
